
# place source in that you want gitignore'd under src eg src/tlex
src/*
env/*

# output files
/output_files*
outfile*

# Logs
DEBUGLOG*
dj AI*log*
dj_log*
log_capture*

# pyagent cache
/.cache*
*/.cache/*

# Python cache
/__pycache__*
/__pycache__/*

